{% extends "@Main/Admin/base.html.twig" %}

{#Visualisation et gestion de tous les artistes#}
{% block title %}
  {{ user.nickname }} - {{ parent() }}
{% endblock %}

{% block page_title %}
  {{ user.nickname }}
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img alt="Image placeholder" src="{{ user.profiles.artist.profilePic | cloudinary_img }}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-2">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-0">
                <div>
                  <span class="heading">{{ user.profiles.artist.albums | length }}</span>
                  <span class="description">{{ 'admin.album.title'|trans }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ user.nickname }}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>
              {{ user.profiles.artist.gmaps.country }}
            </div>
            <hr class="my-4" />
          </div>
          <div style="display: flex">
            <div style="margin: auto; width: 50%">
              <h3 class="mb-0">{{ 'admin.album.title'|trans }}</h3>
            </div>
            <div style="margin: auto; width: 50%;" class="text-right">
              <a href="{{ path('admin_albums_new', {"id_artist":user.id}) }}" class="btn btn-sm btn-primary">{{ 'label.add'|trans }}</a>
            </div>
          </div>
          <div class="row mt-2">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">{{ 'table.header.name'|trans }}</th>
                  <th scope="col">{{ 'table.header.date_add'|trans }}</th>
                  <th scope="col">{{ 'table.header.songs'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="{{ path('admin_albums_show', {'id': 1 }) }}" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{{ asset('assets/adminbundle/img/theme/team-4-800x800.jpg') }}">
                      </a>
                      <div class="media-body">
                        <a href="#"><span class="mb-0 text-sm">#{{ 'label.no_albums_musics'|trans }}</span></a>
                      </div>
                    </div>
                  </th>
                  <td>-</td>
                  <td>-</td>
                </tr>
                {% for album in user.profiles.artist.albums %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="{{ path('admin_albums_show', {'id': album.id }) }}" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{{ album.profile | cloudinary_img }}">
                        </a>
                        <div class="media-body">
                          <a href="{{ path('admin_albums_show', {'id': album.id }) }}"><span class="mb-0 text-sm">{{ album.name }}</span></a>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{ album.dateAdd | date("Y") }}
                    </td>
                    <td>
                      {{ album.musics | length }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ 'label.artist_account'|trans }}</h3>
            </div>
            <div class="col-4 text-right">
              <button form="artist_form" type="submit" class="btn btn-sm btn-primary">{{ 'button.save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          {{ render(controller("MainBundle:Artist:create", {"id":user.id})) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


