{% extends "MainBundle:Admin:base.html.twig" %}

{% block title %}
   {{ "admin.dashboard.title"|trans }}
{% endblock %}

{% block inner_header %}
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8" title="{{ "admin.dashboard.phrase"|trans }}">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
{#          Users#}
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{ 'admin.listener.title'|trans }}</h5>
                    <span class="h2 font-weight-bold mb-0">{{ ((listeners|length))|number_format(0) }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> x%</span>
                  <span class="text-nowrap">{{ 'admin.phrases.since_launch'|trans }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{ 'admin.artist.title'|trans }}</h5>
                    <span class="h2 font-weight-bold mb-0">{{ ((artists|length))|number_format(0) }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-microphone"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-right"></i> n%</span>
                  <span class="text-nowrap">{{ 'admin.phrases.since_launch'|trans }}</span>
                </p>
              </div>
            </div>
          </div>
          {#<div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Transactions</h5>
                    <span class="h2 font-weight-bold mb-0">{{ ((transactions|length))|number_format(0) }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-exchange-alt"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> x%</span>
                  <span class="text-nowrap">depuis le lancement</span>
                </p>
              </div>
            </div>
          </div>#}
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{ 'admin.album.title'|trans }}</h5>
                    <span class="h2 font-weight-bold mb-0">{{ ((albums|length))|number_format(0) }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-store-alt"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> x%</span>
                  <span class="text-nowrap">{{ 'admin.phrases.since_launch'|trans }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{ 'admin.sales.title'|trans }}</h5>
                    <span class="h2 font-weight-bold mb-0">{{ total_income|number_format }}CAD</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-coins"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> m%</span>
                  <span class="text-nowrap">{{ 'admin.phrases.since_launch'|trans }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">{{ 'admin.album.title'|trans }}</h6>
              <h2 class="text-white mb-0">{{ 'admin.sales.total'|trans }}</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">{{ 'admin.album.title'|trans }}</h6>
              <h2 class="mb-0">{{ 'admin.add.total'|trans }}</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Transactions  : {{ transactions |length }}</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">#Code Paypal</th>
              <th scope="col">Date d'ajout</th>
              <th scope="col">Auditeur</th>
              <th scope="col">Montant</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in transactions | reverse %}
              <tr>
                <td>
                  {{ item.payPalOrderId }}
                </td>
                <td>
{#                  {{ item.dateAdd | date("Y-m-d.H:i Z") }}#}
                  {{ item.dateAdd | date("Y-m-d H:i T") }}
                </td>
                <td>
                  {{ item.sender.nickname }}
                </td>
                <td>
                  {{ item.amount | amount_short_format }}
                </td>
                {#<td>
                  {{ item.code }}
                </td>#}
                {#<th scope="row">
                  <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                      <img alt="Image" src="{{ asset('assets/adminbundle/img/brand/favicon.png') }}">
                    </a>
                    <div class="media-body" style="width: 150px; word-wrap: normal; height: 50px">
                      #}{#<a href="{{ path('radio_relax_admin_artists_show', {'id': artist.id}) }}"><span class="mb-0 text-sm">{{ artist.name }}</span></a>#}{#
                      <span class="mb-0 text-sm">{{ user.nickname }}</span>
                    </div>
                  </div>
                </th>#}
                {#<td>
                  {% if user.dateAdd %}
                    {{ user.dateAdd | date("Y-m-d") }}
                  {% else %}
                    -
                  {% endif %}
                </td>
                #}{# <td>
                       <span class="badge badge-dot mr-4">
                         <i class="bg-warning"></i> en attente
                       </span>
                 </td>#}{#
                <td>
                  <a href="mailto:{{ user.username }}" target="_top" title="Mail">{{ user.username }}</a>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="{{ path('admin_users_make_artist', {'id': user.id}) }}" title="Valider la demande et rendre Artiste"><i class="fa fa-check"></i> Rendre artiste</a>
                      <a class="dropdown-item" href="{{ path('admin_users_remove_request_artist', {'id': user.id}) }}" title="Annuler la demande"><i class="fa fa-times"></i> Annuler la demande</a>
                    </div>
                  </div>
                </td>#}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block chart %}
{#  {{ charts.albums }}#}
  <script>
    {% include "@Main/Admin/Chart/albums.sales.js.twig" with {"chart":charts.sales} %}
    {% include "@Main/Admin/Chart/albums.count.js.twig" with {"chart":charts.albums} %}
  </script>
{% endblock %}