{% extends "@Main/Admin/base.html.twig" %}
{#Visualisation et gestion de tous les artistes#}
{% block title %}
  {{ music.name }} - {{ "label.music.of"|trans }} : {{ album.name }}
{% endblock %}

{% block page_title %}
  {{ music.name }} - {{ "label.music.of"|trans }} : {{ album.name }}
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">
                {{ music.name }} - {{ "label.music.of"|trans }}
                <a href="{{ path('admin_albums_show', {'id': album.id}) }}">
                  {{ album.name }}
                </a>
              </h3>
            </div>
            <div class="col-4 text-right">
              <button form="new-artist" class="btn btn-sm btn-primary">{{ 'button.save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          {{ render(controller("MainBundle:Music:update", {"id":music.id})) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


