{% extends "::base.html.twig" %}

{% block stylesheets %}
  <!--Start Style -->
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/css/fonts.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/js/plugins/swiper/css/swiper.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/js/plugins/nice_select/nice-select.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/js/plugins/player/volume.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/js/plugins/scroll/jquery.mCustomScrollbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/corebundle/css/custom.css') }}">
  <!-- Favicon Link -->
{% endblock %}

{% block title %}
  {{ app_name }} | {{ 'app.phrase'|trans }}
{% endblock %}

{% block body_inner %}
  <!--Loader-->
  <!--Main Wrapper Start-->
  <div class="ms_main_wrapper">
    <!---Side Menu Start-->
    <div class="ms_sidemenu_wrapper">
      <div class="ms_nav_close">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <div class="ms_sidemenu_inner">
        <div class="ms_logo_inner">
          <div class="ms_logo">
            <a href="{{ path('main_homepage') }}">
              <img src="{{ asset('assets/images/radio-relax-logo-light.png') }}" alt="{{ app_name }} Logo" width="80">
            </a>
          </div>
          <div class="ms_logo_open">
            <a href="{{ path('main_homepage') }}">
              <img src="{{ asset('assets/images/radio-relax-logo-light.png') }}" alt="{{ app_name }} Logo" width="100">
            </a>
          </div>
        </div>
        <div class="ms_nav_wrapper">
          <ul>
            <li>
              <a href="{{ path('core_artists_homepage')}}" class="active" title="Artists">
                <span class="nav_icon"><span class="icon icon_artists"></span></span>
                <span class="nav_text">{{ 'menu.artists'|trans }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!---Main Content Start-->
    <div class="ms_content_wrapper padder_top80">
      <!---Header-->
      <div class="ms_header">
        {% for flashMessage in app.session.flashbag.get('notice') %}
          <div class="alert alert-success">
            <small>{{ flashMessage |trans }}</small>
          </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="alert alert-danger">
            <small>{{ flashMessage |trans }}</small>
          </div>
        {% endfor %}
        <div class="ms_top_right">
          <div class="ms_top_lang">
            {% if app.user %}
              <a href="{{ path('xs_market_place_cart') }}" title="Mon Panier">
                <i class="fa fa-shopping-cart"></i>
                Panier
              </a>
              {#              <div style="width: 1px; height: 25px; border-right: 1px solid black"></div>#}
              <a href="{{ path('admin_profile') }}">
                <img src="{{ asset('assets/adminbundle/img/brand/favicon.png') }}" width="30" title="Mon Profil"/>
                {{ app.user.nickname }}
              </a>
            {% else %}
              <a href="{{ path('core_artists_homepage', {'_locale': 'en'}) }}"><img src="{{ asset('assets/images/uk.png') }}" width="30" title="{{ "locale.language.en.title"|trans }}"/></a>
              <a href="{{ path('core_artists_homepage', {'_locale': 'fr'}) }}"><img src="{{ asset('assets/images/fr.png') }}" width="30" title="{{ "locale.language.fr.title"|trans }}"/></a>
              <a href="{{ path('login') }}" title="{{ 'xs_user.login.hint'|trans }}">
                <span class="fa fa-sign-in"></span>
                {{ 'xs_user.login.hint'|trans }}
              </a>
            {% endif %}
          </div>
          {# <div class="ms_top_btn">
             <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>{{ 'button.im_listener_short'|trans }}</span></a>
             <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>{{ 'button.im_artist_short'|trans }}</span></a>
           </div>#}
        </div>
      </div>
      
      {% block body_inner_main %}
      
      {% endblock %}
    </div>
    
    
    <!--Footer Start-->
    {% block footer %}
      <div class="ms_footer_wrapper">
        <div class="ms_footer_logo">
          <img src="{{ asset('assets/images/radio-relax-logo-light.png') }}" alt="{{ app_name }} Logo" width="120">
        </div>
        <div class="ms_footer_inner">
          <div class="row">
            {#<div class="col-md-2"></div>#}
            <div class="col-lg-6 col-md-6">
              <div class="footer_box">
                <h1 class="footer_title">{{ app_name }} </h1>
                <p>{{ 'app.phrase'|trans }}</p>
              </div>
            </div>
            
            {#<div class="col-lg-3 col-md-6">
              <div class="footer_box footer_subscribe">
                <h1 class="footer_title">{{ 'title.subscribe'|trans }}</h1>
                <p>{{ 'content.subscribe'|trans }}.</p>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ 'placeholder.name'|trans }}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ 'placeholder.email'|trans }}">
                  </div>
                  <div class="form-group">
                    <a href="{{ asset('assets/corebundle/#') }}" class="ms_btn">{{ 'button.sign_me'|trans }}</a>
                  </div>
                </form>
              </div>
            </div>#}
            <div class="col-lg-6 col-md-6">
              <div class="footer_box footer_contacts">
                <h1 class="footer_title">{{ 'title.contact.us'|trans }}</h1>
                <ul class="foo_con_info">
                  {#<li>
                    <div class="foo_con_icon">
                      <img src="{{ asset('assets/corebundle/images/svg/phone.svg') }}" alt="">
                    </div>
                    <div class="foo_con_data">
                      <span class="con-title">{{ 'title.call.us'|trans }} :</span>
                      <span>(+1) </span>
                    </div>
                  </li>#}
                  <li>
                    <div class="foo_con_icon">
                      <img src="{{ asset('assets/corebundle/images/svg/message.svg') }}" alt="">
                    </div>
                    <div class="foo_con_data">
                      <span class="con-title">{{ 'title.email.us'|trans }}:</span>
                      <span><a href="mailto:{{ mailer_user }}"> {{ mailer_user }} </a></span>
                    </div>
                  </li>
                  <li>
                    <div class="foo_con_icon">
                      <img src="{{ asset('assets/corebundle/images/svg/add.svg') }}" alt="">
                    </div>
                    <div class="foo_con_data">
                      <span class="con-title">{{ 'title.walk.in'|trans }}:</span>
                      <span>Québec, Canada</span>
                    </div>
                  </li>
                </ul>
                <div class="foo_sharing">
                  <div class="share_title">{{ 'title.follow.us'|trans }} :</div>
                  <ul>
                    <li><a class="fadeIn fast-child-1"  href="https://www.facebook.com/radiorelaxmusiquefm/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="fadeIn fast-child-2"  href="https://twitter.com/RadioRelax5" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!----Copyright---->
        <div class="col-lg-12">
          <div class="ms_copyright">
            <div class="footer_border"></div>
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a href="{{ path('main_homepage', {'_locale': "fr"}) }}">{{ app_name }} </a>. {{ 'label.copyright'|trans }}</p>
          </div>
        </div>
      </div>
    {% endblock %}
    
    {% block audio_player %}
    
    {% endblock %}
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/plugins/swiper/js/swiper.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/plugins/player/jplayer.playlist.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/plugins/player/jquery.jplayer.min.js') }}"></script>
  
  {% block player_js %}
  
  {% endblock %}
  {#<script type="text/javascript" src="{{ asset('assets/corebundle/js/plugins/player/audio-player.js.twig') }}"></script>#}
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/plugins/player/volume.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/plugins/nice_select/jquery.nice-select.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/plugins/scroll/jquery.mCustomScrollbar.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/corebundle/js/custom.js') }}"></script>
{% endblock %}