{% extends 'base.html.twig' %}

{% block title %}
  Fin de l'inscription | Edutool
{% endblock %}
{% block stylesheets_page %}
  <link href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block stylesheets_theme_layout %}
  <link href="{{ asset('assets/pages/css/login-5.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_class %} class="login" {% endblock %}
{% block header %}
  {#On le vide pour l'instant, comme le template nen a pas besoin#}
{% endblock %}

{% block page_container %}
  <div class="user-login-5">
    <div class="row bs-reset">
      <div class="col-md-6 bs-reset">
        <div class="login-bg" style="background-image:url('../assets/pages/img/login/bg1.jpg')">
          <img class="login-logo" src="{{ asset('assets/layouts/layout3/img/logo.10x.png') }}" />
        </div>
      </div>
      <div class="col-md-6 login-container bs-reset">
        <div class="login-content">
          <h1>Edutool</h1>
          {#<h1>Edutool | Cliquer sur  <b>Nous écrire</b> <small><small>pour commencer à utiliser l'application...</small></small></h1>#}
          <div class="fb-messengermessageus"
               messenger_app_id="1534849713210379"
               page_id="1432158537110750"
              {#take this id from the session#}
               color="blue"
               size="xlarge">
          </div>
          <p>Cliquez sur le bouton <b>Nous écrire</b> ci-haut et envoyez un message à notre Page... :)</p>
          <p><img src="{{ asset('assets/layouts/layout3/img/sections/cloudoffice.png') }}" class="img-responsive img-text" width="50"><i>Powering <b>Cloud Office</b></i></p>


        </div>
        <div class="login-footer">
          <div class="row bs-reset">
            <div class="col-xs-5 bs-reset">
              <ul class="login-social">
                <li>
                  <a href="javascript:;">
                    <i class="icon-social-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="icon-social-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="icon-social-facebook"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-7 bs-reset">
              <div class="login-copyright text-right">
                <p>2016 &copy; Edutool by <a href="www.bledhub.com"  target="_blank">BledHub</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {#Pas de footer classique...#}
{% endblock %}

{% block javascripts_page %}
  <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/global/plugins/backstretch/jquery.backstretch.min.js') }}" type="text/javascript"></script>

  {# <script>

     window.fbAsyncInit = function() {
       FB.init({
         appId: "1534849713210379",
         xfbml: true,
         version: "v2.6"
       });

     };

     (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/fr_FR/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

   </script>#}

  <script>

    window.fbAsyncInit = function() {
      FB.init({
        appId: "1534849713210379",
        xfbml: true,
        version: "v2.6"
      });

    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>


{% endblock %}

{% block javascripts_page_level %}
  <script src="{{ asset('assets/pages/scripts/login-5.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts_theme_layout %}
{% endblock %}
