{% extends 'base.html.twig' %}

{% block title %}
  Connexion - Mot de passe temporaire | Edutool
{% endblock %}
{% block stylesheets_page %}
  <link href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block stylesheets_theme_layout %}
  <link href="{{ asset('assets/pages/css/login-5.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_class %} class="login" {% endblock %}
{% block header %}
  {#On le vide pour l'instant, comme le template nen a pas besoin#}
{% endblock %}

{% block page_container %}
  <div class="user-login-5">
    {#<div class="row bs-reset">#}
    <div class="col-md-6 bs-reset">
      <div class="login-bg" style="background-image:url({{ asset('assets/pages/img/login/bg1.jpg') }})">
        <img class="login-logo" src="{{ asset('assets/layouts/layout3/img/sections/10xedu.png') }}" width="50" /> </div>
    </div>
    {#</div>#}
    <div class="col-md-6 login-container bs-reset">
      <div class="login-content">
        <h1>Edutool | Connexion </h1>
        <h4>Temporaire</h4>
        <div class="row">
          <div class="col-md-6">
            <p> <a href="{{ path('signin') }}" class="btn green btn-outline" type="button">Je n'ai pas de compte !</a> </p>
          </div>
          {# <div class="col-md-3 col-xs-6">
             <img src="{{ asset('assets/layouts/layout3/img/sections/cloudoffice.png') }}" width="50">
             <h6>Cloud Office</h6>
           </div>
           <div class="col-md-3 col-xs-6">
             <img src="{{ asset('assets/layouts/layout3/img/sections/10xedu.png') }}" width="50">
             <h6>Edutool</h6>
           </div>#}
        </div>
        <form class="login-form" method="post" action="{{ path('login_tmp', {'token': token}) }}">
          {#<h3 class="font-green">Connexion à partir du mot de passe temporaire.</h3>#}
          {#<p> Une fois connecté, 12 heures vous serront accordées pour modifier votre mot de passe! </p>#}
          {{ form_row(form_reset_password._token) }}
          <div class="row">
            {{ form_errors(form_reset_password) }}
          </div>
          {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
              {{ flashMessage }}
            </div>
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
              {{ flashMessage }}
            </div>
          {% endfor %}
          <div class="row">
            <div class="col-xs-12 col-md-12">
              {{ form_widget(form_reset_password.username, {
                'attr': {
                  'class': 'form-control form-control-solid placeholder-no-fix form-group',
                  'autocomplete': 'off',
                  'placeholder': 'Numéro de téléphone'
                }})
              }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              {{ form_widget(form_reset_password.tmp_pass, {
                'attr': {
                  'class': 'form-control form-control-solid placeholder-no-fix form-group',
                  'autocomplete': 'off',
                  'placeholder': 'Mot de passe temporaire'
                }})
              }}
            </div>
          </div>
          <div class="form-actions">
            <a href="{{ path('login') }}" type="button" id="back-btn" class="btn green btn-outline">Connexion normale</a>
            <button type="submit" class="btn btn-success uppercase pull-right">Connexion</button>
          </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
      </div>
      <div class="login-footer">
        <div class="row bs-reset">
          <div class="col-xs-5 bs-reset">
            <ul class="login-social">
              <li>
                <a href="javascript:;">
                  <i class="icon-social-facebook"></i>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-social-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-7 bs-reset">
            <div class="login-copyright text-right">
              <p>2016 &copy; Edutool by <a href="http://www.innovafactory.xyz"  target="_blank">innovaFactory</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block footer %}
  {#Pas de footer classique...#}
{% endblock %}

{% block javascripts_page %}
  <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('assets/global/plugins/backstretch/jquery.backstretch.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts_page_level %}
  <script src="{{ asset('assets/pages/scripts/login-5.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts_theme_layout %}
{% endblock %}
