<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Afrobusiness | Problème de connexion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="{{ asset('favicon-afrobusiness.ico') }}" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{{ asset('css/theme-dark.css') }}"/>
    <!-- EOF CSS INCLUDE -->
</head>
<body>
<div class="login-container">

    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        {# Affichage d'une erreur eventuelle #}
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        <div class="login-body">
            <div class="login-title"><b><i class="fa fa-frown-o"></i> Mot de passe</b> oublié.</div>
            <form action="{{ path('login_check') }}" class="form-horizontal" method="post" style="color: whitesmoke">
                <div class="form-group">
                    <div class="col-md-12" >
                        Entrez votre adresse Email de connexion, et nous vous enverrons un lien de remise à zéro de mot de passe.
                        <input type="email" class="form-control" required placeholder="E-mail" autocomplete="on" autofocus id="username" name="_username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <i class="fa fa-clock-o"></i> 12 heures de validité.
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="Envoyer"/>
                    </div>
                </div>
            </form>
            <div class="login-or">OU</div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="{{ path('login') }}"><button type="button" class="btn btn-warning btn-block"><span class="fa fa-send"></span> Se connecter</button></a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('signin') }}"><button type="button" class="btn btn-success btn-block "><span class="fa fa-sign-in"></span> S'inscire</button></a>
                </div>
            </div>

        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2015innovaFactory | <a href="https://en.wikipedia.org/wiki/Cameroon">Cameroon</a>
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>






