{% extends "@Main/Admin/base.html.twig" %}

{#Visualisation et gestion de tous les artistes#}
{% block title %}
  {{ user.nickname }} - {{ parent() }}
{% endblock %}

{% block page_title %}
  {{ user.nickname }}
{% endblock %}

{% block inner_header %}
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({{ asset('assets/img/theme/profile-cover.jpg')}}); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Profil de {{ user.nickname }}</h1>
          <p class="text-white mt-0 mb-5">
            {% if user.profiles.accessArtist %}
              {{ user.profiles.artist.description }}
            {% else %}
              //
            {% endif %}
          </p>
          {#<a href="#" class="btn btn-info">Edit profile</a>#}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-6 order-xl-0">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ 'admin.my_account'|trans }}</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-danger" title="{{ 'button.delete'|trans }}" href="#{{ path('admin_artists_remove', {'id': user.id}) }}">
                <i class="fa fa-trash text-white"></i>
              </a>
              <button form="artist_form" type="submit" class="btn btn-sm btn-primary">{{ 'button.save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" action="{{ path('admin_profile') }}" name="artist_form" id="artist_form" enctype="multipart/form-data">
            {{ form_row(form._token) }}
            <h6 class="heading-small text-muted mb-4">Profil Utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nom d'utilisateur</label>
                    {{ form_widget(form.nickname) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Addresse Email</label>
                    {{ form_widget(form.username) }}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-6 order-xl-0">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ 'admin.my_account'|trans }}</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-danger" title="{{ 'button.delete'|trans }}" href="#{{ path('admin_artists_remove', {'id': user.id}) }}">
                <i class="fa fa-trash text-white"></i>
              </a>
              <button form="password_form" type="submit" class="btn btn-sm btn-primary">{{ 'button.save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" action="{{ path('admin_profile') }}" name="password_form" id="password_form" enctype="multipart/form-data">
            <div class="row">
              {{ form_errors(formPassword) }}
            </div>
            {{ form_row(formPassword._token) }}
            <h6 class="heading-small text-muted mb-4">Sécurité</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Mot de passe actuel</label>
                    {{ form_widget(formPassword.oldPassword) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nouveau mot de passe</label>
                    {{ form_widget(formPassword.password.first) }}
                  </div>
                  {% if form_errors(formPassword.password.first) is not empty %}
                    <div class="alert alert-danger">{{ form_errors(formPassword.password.first) }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Confirmation de mot de passe</label>
                    {{ form_widget(formPassword.password.second) }}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


