{% extends "@Main/Admin/base.html.twig" %}

{#Visualisation et gestion de tous les artistes#}
{% block title %}
  {{ user.nickname }} - {{ parent() }}
{% endblock %}

{% block page_title %}
  {{ user.nickname }}
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-6 order-xl-0">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-6">
              <h3 class="mb-0">{{ 'admin.my_account'|trans }}</h3>
            </div>
            <div class="col-6 text-right">
              {# <a class="btn btn-sm btn-danger" title="{{ 'button.delete'|trans }}" href="#{{ path('admin_artists_remove', {'id': user.id}) }}">
                 <i class="fa fa-trash text-white"></i>
               </a>#}
              {% if "ROLE_ARTIST" not in user.roles %}
                <a href="{{ path('admin_users_add_request_artist', {'id': user.id}) }}" class="btn btn-sm btn-success" title="{{ 'button.become_artist'|trans }}">
                  <i class="fa fa-plus text-white"></i>
                  <i class="fa fa-music text-white"></i>
                </a>
              {% endif %}
              <button form="artist_form" type="submit" class="btn btn-sm btn-primary">{{ 'button.save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" action="{{ path('admin_profile') }}" name="artist_form" id="artist_form" enctype="multipart/form-data">
            {{ form_row(form._token) }}
            <h6 class="heading-small text-muted mb-4">{{ 'profile.user_profile'|trans }}</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{ "xs_user.user.nickname"|trans }}</label>
                    {{ form_widget(form.nickname) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{ "form.email_address"|trans }}</label>
                    {{ form_widget(form.username) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <h4>{{ 'locale.language.title'|trans }}</h4>
              </div>
              <div class="row">
                {% for data in  form.locale.language %}
                  <div class="col-md-6">
                    <div class="custom-control custom-control-alternative custom-radio">
                      {{ form_widget(data, {
                        "attr":{
                          "class": "custom-control-input"
                        }
                      }) }}
                      <label class="custom-control-label" for="{{ data.vars.id }}">
                        <div class="text-muted">
                          <img src="{{ asset('assets/images/'~data.vars.value~'.png') }}" width="20" title="{{ data.vars.label|trans }}"/> {{ data.vars.label|trans }}
                        </div>
                      </label>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-xl-6 order-xl-0">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ 'admin.security'|trans }}</h3>
            </div>
            <div class="col-4 text-right">
              {# <a class="btn btn-sm btn-danger" title="{{ 'button.delete'|trans }}" href="#{{ path('admin_artists_remove', {'id': user.id}) }}">
                 <i class="fa fa-trash text-white"></i>
               </a>#}
              <button form="password_form" type="submit" class="btn btn-sm btn-primary">{{ 'button.save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" action="{{ path('admin_profile') }}" name="password_form" id="password_form" enctype="multipart/form-data">
            <div class="row">
              {{ form_errors(formPassword) }}
            </div>
            {{ form_row(formPassword._token) }}
            <h6 class="heading-small text-muted mb-4">{{ 'admin.security'|trans }}</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{ 'form.password.current'|trans }}</label>
                    {{ form_widget(formPassword.oldPassword) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{ 'form.password.new'|trans }}</label>
                    {{ form_widget(formPassword.password.first) }}
                  </div>
                  {% if form_errors(formPassword.password.first) is not empty %}
                    <div class="alert alert-danger">{{ form_errors(formPassword.password.first) }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{ 'form.password.confirm'|trans }}</label>
                    {{ form_widget(formPassword.password.second) }}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


