{% extends "@Main/Admin/base.html.twig" %}
{#Visualisation et gestion de tous les artistes#}
{% block title %}
  {{ album.name }} :  Album de {{ artist.nickname }} - {{ parent() }}
{% endblock %}

{% block page_title %}
  {{ album.name }} :  Album de {{ artist.nickname }}
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-6">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">
                {{ album.name }} :  Album de
                <a href="{{ path('admin_artists_show', {'id': artist.id}) }}">
                  {{ artist.nickname }}
                </a></h3>
            </div>
            <div class="col-4 text-right">
              <a href="{{ path('admin_albums_remove', {'id': album.id}) }}" class="btn btn-sm btn-danger" title="{{ 'button.delete'|trans }}"><i class="fa fa-trash"></i></a>
              <button form="new-artist" class="btn btn-sm btn-primary">{{ 'button.save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" action="{{ path('admin_albums_show', {'id': album.id}) }}" name="new-artist" id="new-artist" enctype="multipart/form-data">
            {{ form_row(form._token) }}
            <h6 class="heading-small text-muted mb-4">Informations Album</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Nom de l'album</label>
                    {{ form_widget(form.name) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Année de sortie</label>
                    {{ form_widget(form.dateRelease) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Photo de l'album</label>
                    <input type="file" id="input-first-name" name="profile" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Description de l'album</label>
                    {{ form_widget(form.desc) }}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img alt="Image placeholder" src="{{ album.profile | cloudinary_img }}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="row align-items-center">
            <div class="col-8 text-left">
              <button form="update-index" class="btn btn-sm btn-primary" title="{{ 'button.add'|trans }}"><i class="fa fa-save"></i> {{ "button.save" |trans }}</button>
            </div>
            <div class="col-4 text-right">
              <a href="{{ path('admin_musics_new', {'id_album': album.id}) }}" class="btn btn-sm btn-primary" title="{{ 'button.add'|trans }}"><i class="fa fa-plus"></i></a>
              <a href="{{ path('admin_musics_new_multiple', {'id_album': album.id}) }}" class="btn btn-sm btn-dark" title="{{ 'button.add'|trans }}"><i class="fa fa-plus"></i><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="mb-0">
            {{ 'label.music.of'|trans }} <b>{{ album.name }}</b>
          </h3>
          {#We have to go to the song to edit it.#}
          <form id="update-index" class="table-responsive" action="{{ path('admin_albums_update_musics_index', {'id': album.id}) }}" method="post" enctype="multipart/form-data">
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th scope="col">#Order</th>
                <th scope="col">{{ 'label.tite'|trans }}</th>
                {#<th scope="col">{{ 'label.duration'|trans }}</th>#}
              </tr>
              </thead>
              <tbody>
              {% for music in musics  %}
                <tr>
                  <td>
                    <input type="number" max="20" min="1" name="index[]" value="{{ music.rank }}" required="required" class="form-control form-control-alternative" maxlength="2" style="width: auto;">
                    <input type="hidden" name="ids[]" value="{{ music.id }}" required="required">
                  </td>
                  <td scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        [{{ music.duration | duration_format }}]
                        <a href="{{ path('admin_musics_show', {'id': music.id}) }}">
                          <span class="mb-0 text-sm">{{ music.name }}</span>
                        </a>
                      </div>
                    </div>
                  </td>
                 {# <td>
                    {{ music.duration | duration_format }}
                  </td>#}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Transactions  : {{ transactions |length }}</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">#Code Paypal</th>
              <th scope="col">Date d'ajout</th>
              <th scope="col">Auditeur</th>
              <th scope="col">Montant</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in transactions | reverse %}
              <tr>
                <td>
                  {{ item.payPalOrderId }}
                </td>
                <td>
                  {#                  {{ item.dateAdd | date("Y-m-d.H:i Z") }}#}
                  {{ item.dateAdd | date("Y-m-d H:i T") }}
                </td>
                <td>
                  {{ item.sender.nickname }}
                </td>
                <td>
                  {{ item.amount | amount_short_format }}
                </td>
                {#<td>
                  {{ item.code }}
                </td>#}
                {#<th scope="row">
                  <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                      <img alt="Image" src="{{ asset('assets/adminbundle/img/brand/favicon.png') }}">
                    </a>
                    <div class="media-body" style="width: 150px; word-wrap: normal; height: 50px">
                      #}{#<a href="{{ path('radio_relax_admin_artists_show', {'id': artist.id}) }}"><span class="mb-0 text-sm">{{ artist.name }}</span></a>#}{#
                      <span class="mb-0 text-sm">{{ user.nickname }}</span>
                    </div>
                  </div>
                </th>#}
                {#<td>
                  {% if user.dateAdd %}
                    {{ user.dateAdd | date("Y-m-d") }}
                  {% else %}
                    -
                  {% endif %}
                </td>
                #}{# <td>
                       <span class="badge badge-dot mr-4">
                         <i class="bg-warning"></i> en attente
                       </span>
                 </td>#}{#
                <td>
                  <a href="mailto:{{ user.username }}" target="_top" title="Mail">{{ user.username }}</a>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="{{ path('admin_users_make_artist', {'id': user.id}) }}" title="Valider la demande et rendre Artiste"><i class="fa fa-check"></i> Rendre artiste</a>
                      <a class="dropdown-item" href="{{ path('admin_users_remove_request_artist', {'id': user.id}) }}" title="Annuler la demande"><i class="fa fa-times"></i> Annuler la demande</a>
                    </div>
                  </div>
                </td>#}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}