{% if cart %}
  <div class="col-md-12 col-lg-12">
    <div class="cart-table-wrap" id="cart-table">
      <table class="cart-table">
        <thead>
        <tr>
          <th></th>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <th>
              {% if not pro_cart.name %}
                <span class="text-primary"><a href="{{ path('xs_market_place_products_show', {'id': pro_cart.productId}) }}">Aucun Nom</a></span>
              {% else %}
                <span class="text-primary"><a href="{{ path('xs_market_place_products_show', {'id': pro_cart.productId}) }}">{{ pro_cart.name | truncate(10) }}</a></span>
              {% endif %}<a href="{{ path('xs_market_place_compare_list_remove_product', {'id': pro_cart.productId}) }}" class="btn-remove" id="cart_pro_module_{{ pro_cart.product.id }}" title="Retirer de la Liste de comparaison">
                <i class="fa fa-times"></i>
              </a>
            </th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Type de Logement</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.type | trans }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Tarif annoncé</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary"><span class="cart-total-item">{{ pro_cart.product.priceShown | amount_format }} / {{ pro_cart.product.payFrequency | trans}}</span></span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Tarif / mois</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary"><span class="cart-total-item">{{ pro_cart.product.payMonth | amount_format}}</span></span>
            </td>
          {% endfor %}
        </tr>

        <tr>
          <td>Adresse</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.localisation.gmaps.formattedAddress }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Dimensions en mètre (LxlxH)</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.length }} x {{ pro_cart.product.house.width }} x {{ pro_cart.product.house.height }} </span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Logement meublé ?</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              {% if pro_cart.product.house.furnished %}
                <span class="text-primary">Oui</span>
              {% else %}
                <span class="text-primary">Non</span>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Places de Parking</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.parking }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Qté Chambres</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.room.bedRoom }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Qté Salons</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.room.LivingRoom }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Qté Cuisines</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.room.kitchen }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Qté Toilettes</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.room.toilet }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Qté Bureaux</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.room.office }}</span>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Qté Salles à Manger</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.room.diningRoom }}</span>
            </td>
          {% endfor %}
        </tr>
        {#<tr>
          <td>Qté Toilettes</td>
          {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
            <td>
              <span class="text-primary">{{ pro_cart.product.house.toilet }}</span>
            </td>
          {% endfor %}
        </tr>#}
        </tbody>
      </table>
      {#<table>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Nom du Produit</th>
          <th>Type de Logement</th>
          #}{#<th>Qty</th>#}{#
          <th>Tarif</th>
        </tr>
        </thead>
        <tbody>
        {% for pro_cart in cart.ProductsCarts if pro_cart.product %}
          <tr>
            <td class="product-action-td">
              <a href="{{ path('xs_market_place_cart_remove_product', {'id': pro_cart.product.id}) }}" class="btn-remove removefromcart" id="cart_pro_in_{{ pro_cart.product.id }}" qty="{{ pro_cart.quantity }}" amount="{{ pro_cart.amount }}" title="Retirer le Produit">
                <i class="fa fa-times"></i>
              </a>
            </td>
            <td class="product-image-td">
              <a href="#" title="{{ pro_cart.name }}">
                <img src="{{ pro_cart.product.profileUrl }}" alt="{{ pro_cart.name }}">
              </a>
            </td>
            <td class="product-name-td">
              <h2 class="product-name"><a href="5" title="{{ pro_cart.name }}">{{ pro_cart.name }}</a></h2>
              #}{#<h2 class="product-name"><a href="{{ path('xs_market_place_stores_product_show', {'id': pro_cart.product.id}) }}" title="{{ pro_cart.name }}">{{ pro_cart.name }}</a></h2>#}{#
            </td>
            <td>{{ pro_cart.product.house.type | trans }}</td>
            <td>
              <span class="text-primary"><span class="cart-total-item">{{ pro_cart.amount | number_format }} / {{ pro_cart.product.payFrequency | trans}}</span></span>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6" class="clearfix">
            <a href="{{ path('xs_market_place_homepage') }}" class="btn btn-default hover-primary btn-continue">Continuer</a>
            #}{#<a href="{{ path('xs_market_place_store_products_all') }}" class="btn btn-default hover-primary btn-continue">Continue Shopping</a>#}{#
            <button href="{{ path('xs_market_place_cart') }}" class="btn btn-default hover-primary btn-update">Mettre à jour le Panier</button>
            <a href="{{ path('xs_market_place_cart') }}" class="btn btn-default hover-primary btn-clear">Vider le Panier</a>
          </td>
        </tr>
        </tfoot>
      </table>#}
    </div>
  </div>
{% endif %}