{% set in_cart = 0 %}
{% if app.session %}
  {% if app.session.get('compare_list') %}
    {% set cart = app.session.get('compare_list') %}
    {% for pro_cart in cart.productsCarts if pro_cart.product %}
      {% if pro_cart.product.id == product.id %}
        {% set in_cart = 1 %}
      {% endif %}
    {% endfor %}
  {% else %}
  {% if app.user %}
    {% set cart = app.user.market.compareList %}
    {% for pro_cart in cart.productsCarts if pro_cart.product %}
      {% if pro_cart.product.id == product.id %}
        {% set in_cart = 1 %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% endif %}
{% endif %}

{#
<div class="loading_spaces text-center" id="loading_spaces">
    <img src="{{ asset('assets/vendor/nivo-slider/dark/loading.gif') }}" class="img-responsive" alt="loading.image"/>
</div>
#}

<span id="span_compare_list_pro_{{ product.id }}">
{% if in_cart %}
  <a href="{{ path('xs_market_place_compare_list') }}" class="comparelinkadded" data-tooltip="" title="Produit dans ma liste de Comparaison">
     <i class="glyphicon glyphicon-signal"></i>
  </a>
  {% else %}
  <a href="{{ path('xs_market_place_list_add_product', {'id': product.id, 'list': 'compare_list'}) }}" data-tooltip="" class="comparelink"  onclick="addThisToList(event, 'compare_list', '{{ path('xs_market_place_list_add_product', {'id': product.id, 'list': 'compare_list'}) }}')" title="Ajouter à la liste de Comparaison">
     <i class="glyphicon glyphicon-signal"></i>
  </a>
{% endif %}
</span>