{#
<div class="collateral-box">
  <ul class="list-unstyled">
    <li>Be the first to review this product</li>
  </ul>
</div>
#}

<div class="add-product-review">
  <h3 class="text-uppercase heading-text-color font-weight-semibold">ECRIVEZ VOTRE PREMIERE REVUE</h3>
  <p>Comment trouvez-vous ce Produit ? *</p>
  {% if app.user %}
    <form action="{{ path('reviews_add', {'target_id': target_id, 'target_name': target_name}) }}">
      <table class="ratings-table">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>1 étoile</th>
          <th>2 étoiles</th>
          <th>3 étoiles</th>
          <th>4 étoiles</th>
          <th>5 étoiles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Qualité</td>
          {% for data in  form.quality %}
            <td>
              <div class="mt-checkbox-inline">
                <label class="mt-checkbox">
                  {{ form_widget(data) }}
                  {{ data.vars.label }}
                  <span></span>
                </label>
              </div>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Valeur</td>
          {% for data in  form.value %}
            <td>
              <div class="mt-checkbox-inline">
                <label class="mt-checkbox">
                  {{ form_widget(data) }}
                  {{ data.vars.label }}
                  <span></span>
                </label>
              </div>
            </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Prix</td>
          {% for data in  form.price %}
            <td>
              <div class="mt-checkbox-inline">
                <label class="mt-checkbox">
                  {{ form_widget(data) }}
                  {{ data.vars.label }}
                  <span></span>
                </label>
              </div>
            </td>
          {% endfor %}
        </tr>
        </tbody>
      </table>
      <div class="form-group">
        <label>Nom d'utilisateur<span class="required">*</span></label>
        {{form_widget(form.userName, {
          'attr' : {
            'value': app.user.nickname
          }})}}
      </div>
      <div class="form-group">
        <label>Résumé de ma Revue<span class="required">*</span></label>
        {{form_widget(form.title)}}
      </div>
      <div class="form-group mb-xlg">
        <label>Revue<span class="required">*</span></label>
        {{form_widget(form.content)}}
      </div>
      <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Soumettre ma Revue">
      </div>
    </form>
  {% else %}
    <a href="{{ path('login') }}" title="S'inscire/Se connecter">Se Connecter!</a>
  {% endif %}
</div>
