<script>
  var Contact = function () {

    return {
      //main function to initiate the module
      init: function () {
        var map;
        $(document).ready(function(){
          map = new GMaps({
            div: '#gmapbg',
            lat: {{ gMaps.lat }},
            lng: {{ gMaps.lng }}
          });
          var marker = map.addMarker({
            lat: {{ gMaps.lat }},
            lng: {{ gMaps.lng }},
            title: '{{ title }}',
            infoWindow: {
              content: "<b>{{ title }}</b> <p>{{ gMaps.formattedAddress }}</p>"
            }
          });

          marker.infoWindow.open(map, marker);
        });
      }
    };

  }();

  jQuery(document).ready(function() {
    Contact.init();
  });
</script>