{% extends "::base.html.twig" %}
{% block title %}
    Afrobanking | Admin
{% endblock %}
{% block body %}
    <div class="content-frame">
        <!-- START CONTENT FRAME TOP -->
        <div class="content-frame-top">
            <ul class="breadcrumb">

                <a href="#allStores" title="Afrobanking" class="tile tile-primary">
                    <span class="fa fa-bank"></span> {{ store.name }}
                    <p>
                        " {{ store.description }} " -innovaFactory & Afrobusiness
                    </p>
                </a>
            </ul>
            <div class="page-title">
                <div class="row">
                    <div class="col-md-12">
                        {# Image de profil de la boutique #}
                        {# todo Finaliser avec le reel.#}
                        {#<img src="{{ store.profile.src }}" alt="{{ store.profile.filename }}" height="200" class="img-text">#}
                        <ul class="list-tags">
                            {#On gere le nombre de visites#}
                            <li title="{{ store.views|length }} visites"><a href="#"><span style="color: #000000"><span class="fa fa-eye"></span> {{ store.views|length }}</span></a></li>
                            {#Rien ne change, etant donne que le bouton n'aboutit pas...&#35;&#125;#}
                            {% set user_like = 0 %}
                            {% for like in store.likes %}
                                {% if store == like.user %}
                                    {% set user_like = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if user_like == 0 %}
                                <li title="J'aime">
                                    {#Si on n'aime pas, le lien est actif#}
                                    <a href="{{ path('envy_like', {
                                        'obj_id': store.id,
                                        'obj_name': 'Afrobanking'
                                    }) }}">
                                        {{ store.likes|length }} <i class="fa fa-thumbs-o-up fa-1x"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li title="{{ store.likes|length }} fans">
                                    {#Si on n'aime pas, le lien est actif#}
                                    {{ store.likes|length }} <i class="fa fa-thumbs-o-up fa-1x"></i>
                                </li>
                            {% endif %}
                        </ul>
                        <br>
                        <div title="Noter Afrobanking ({{ store.averageRates*100/5 }} % - {{ store.countRates }} avis).">
                            {#Etoiles :#}
                            {% set user_rate = 0 %}
                            {% for rate in store.rates %}
                                {% if store == rate.user %}
                                    {% set user_rate = 1 %}
                                {% endif %}
                            {% endfor %}
                            {%  if user_rate == 0 %}
                                {% for i in 1..5 %}
                                    {% if store.averageRates >= i %}
                                        <a href="{{ path('rate_add', {'obj_id': store.id, 'obj_name': 'Afrobanking', 'value': i}) }}"><span class="fa fa-star fa-2x"></span></a>
                                    {% else %}
                                        <a href="{{ path('rate_add', {'obj_id': store.id, 'obj_name': 'Afrobanking', 'value': i}) }}"><span class="fa fa-star-o fa-2x"></span></a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for i in 1..5 %}
                                    {% if store.averageRates >= i %}
                                        <span class="fa fa-star fa-2x"></span>
                                    {% else %}
                                        <span class="fa fa-star-o fa-2x"></span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            ({{ store.averageRates*100/5 }} % - {{ store.countRates }} avis).
                        </div>
                    </div>
                </div>
                {# todo finalisation
                <h4>Produits : 89 / 120 </h4>
                <h4>by <a href="#"> {{ store.nickname }}</a></h4> #}
            </div>
            {#<div class="pull-right">#}
            {#<button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>#}
            {#</div>#}
        </div>

        <!-- START CONTENT FRAME BODY -->
        <div class="content-frame">
            <hr>
            <div class="col-md-8">
                <div class="row">
                    <div class="panel panel-default table-responsive">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-suitcase"></i> Compte Afrobanking</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Montant</th>
                                    <th>Banque</th>
                                    <th>Ouvert le</th>
                                    <th>Etat</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% set state = 'fa-lock' %}
                                    {% set label = 'danger' %}
                                    {% if store.account.state == 'unlocked' %}
                                        {% set state = 'fa-thumbs-o-up' %}
                                        {% set label = 'success' %}
                                    {% endif %}
                                    <td><a href="#" title="Votre namespace, c'est cette information que je transmets a toutes les personnes qui veulent me transferer de l'argent via #Afrobanking">{{ store.namespace }}</a></td>
                                    <td>{{ store.account.amount.value|number_format ~ ' ' ~ store.account.amount.currency}}</td>
                                    <td><a href="#">Afrobanking</a> </td>
                                    <td title="{{ store.account.dateAdd | time_diff }}">{{ store.account.dateAdd | date('Y-m-d') }}</td>
                                    <td title="Activé, bloqué, gelé, etc..."><label class="label label-{{ label }}"><i class="fa {{ state }}"></i></label> ({{ store.account.state }})</td>
                                </tr>
                                </tbody>
                            </table>
                            <label class="label label-primary"><i class="fa fa-plus"></i> Approvisionner mon compte</label> <i class="fa fa-caret-right"></i>
                            Veuillez <a href="#appros"> cliquer ici !</a>
                            <hr>
                            <div class="help-block">
                                <ul>
                                    <li><b><label class="label label-danger"><i class="fa fa-lock"></i></label></b> : Compte bloqué.</li>
                                    <li><b><label class="label label-success"><i class="fa fa-thumbs-o-up"></i></label></b> : Compte activé (débloqué).</li>
                                </ul>
                                <i class="fa fa-question"></i> : <i>Pour activer son compte, il faut : <b>recevoir de l'argent de quelqu'un</b> ou alors <b>approvisionner son compte</b> ! </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="appros" class="panel panel-warning table-responsive">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-check"></i> Approvisionnement manuel</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>Afros</th>
                                    <th>Appro</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="small">
                                            <button  type="button" data-placement="bottom" data-trigger="focus" data-html="true" class="btn btn-default" data-toggle="popover" data-content="
                                            <div class='help-block'>
                                                <p>
                                                    <i class='fa fa-user'></i> {{ user.name ~' '~ user.firstname ~'['~ user.namespace ~']' }}<br>
                                                    {% for telephone in user.telephones %}
                                                        {{ loop.index ~'.('~telephone.countryCode ~') '~telephone.number  }}<br>
                                                    {% endfor %}
                                                    Lieu : {{ user.localisation.country ~' - '~ user.localisation.town}}
                                                </p>
                                            </div>
                                            ">
                                                <i class="fa fa-user"></i> {{ user.nickname }}
                                            </button>
                                        </td>
                                        <td>
                                            {{ render(controller("XSAfrobankBundle:Afrobank:creditAccount", {'namespace':user.namespace} )) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="help-block">
                                <i>L'approvisionnement manuel des comptes dont les <b>Express Union</b> ont été reçu.</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="transactionsEU" class="panel panel-default table-responsive">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-exchange"></i> Transactions #Deposit - #Express Union</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Code</th>
                                    <th>Montant</th>
                                    <th>Mode</th>
                                    <th>Raison</th>
                                    <th>Date</th>
                                    {#<th>Emetteur</th>
                                    <th>Recepteur</th>#}
                                    {#<th>Etat</th>#}
                                    {#<th>Canal</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions | reverse if transaction.reason == 'Deposit'%}
                                    {#Definition de la couleur actuelle :: color#}
                                    {% set color = 'whitesmoke; color: black' %}
                                    {% if transaction.state == 'finished' %}
                                        {% set color = 'lightgreen' %}
                                    {% elseif transaction.state == 'error' %}
                                        {% set color = 'orange' %}
                                    {% endif %}
                                    <tr style="background: {{ color }}">
                                        <td>{{ loop.index }} <i class="fa fa-long-arrow-right"></i></td>
                                        <td>
                                            <button type="button" data-placement="right" data-trigger="focus" data-html="true" class="btn btn-primary btn-sm" data-toggle="popover" title="<i class='fa fa-exchange'></i> : {{ transaction.code | upper  }}" data-content="
                                            <div class='help-block'>
                                                [{{ transaction.reason }}]<br>
                                                {#[Loyer Boutique <b>Pro.</b>]<br>#}
                                                {#[Activation compte]<br>#}
                                                <i class='fa fa-user'></i> <a href='{{ path('xs_user_show', {'namespace' : transaction.sender.namespace }) }}'> {{ transaction.sender.nickname }}</a> <i class='fa fa-long-arrow-right'></i> <a href='{{ path('xs_user_show', {'namespace' : transaction.receiver.namespace }) }}'> {{ transaction.receiver.nickname }} </a><br>
                                                {#<i class='fa fa-location-arrow'></i> {{ store.localisation.town }} <i class='fa fa-long-arrow-right'></i> {{ store.localisation.town }}<br>#}
                                                <i class='fa fa-bank'></i> <a href='#'> {{ transaction.bank }} </a><br>
                                                <i class='fa fa-money'></i> {{ transaction.amount.value|number_format ~' '~  transaction.amount.currency}}<br>
                                                <span title='{{ transaction.dateAdd | time_diff }}'><i class='fa fa-clock-o'></i>{{ transaction.dateAdd| date('Y-m-d')}}</span><br>
                                                <label class='label' style='background: {{ color }}'>{{ transaction.state }} </label>
                                            </div>
                                        ">
                                                {{ transaction.code | upper  }}
                                            </button>
                                        </td>

                                        <td>{{ transaction.amount.value|number_format ~' '~  transaction.amount.currency}}</td>
                                        <td><a href="#">{{ transaction.bank }}</a> </td>
                                        <td>{{ transaction.reason }}</td>
                                        <td title="{{ transaction.dateAdd | time_diff }}">{{ transaction.dateAdd| date('Y-m-d')}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="help-block">
                                <ul>
                                    <li><b><i class="fa fa-long-arrow-right"></i></b> : Transaction entrante (réception).</li>
                                    <li><b><i class="fa fa-long-arrow-left"></i></b> : Transaction sortante (envoi).</li>
                                </ul>
                                <label class="label" style="background: orange">Erreur</label>
                                <label class="label" style="background: lightgreen">Terminé </label>
                                <label class="label" style="background: whitesmoke; color: black">En cours</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="transactions" class="panel panel-default table-responsive">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-exchange"></i> Transactions #Utilisateurs</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Code</th>
                                    <th>Montant</th>
                                    <th>Mode</th>
                                    <th>Raison</th>
                                    <th>Date</th>
                                    {#<th>Emetteur</th>
                                    <th>Recepteur</th>#}
                                    {#<th>Etat</th>#}
                                    {#<th>Canal</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in store.account.transactions | reverse%}
                                    {#Definition de la couleur actuelle :: color#}
                                    {% set color = 'whitesmoke; color: black' %}
                                    {% if transaction.state == 'finished' %}
                                        {% set color = 'lightgreen' %}
                                    {% elseif transaction.state == 'error' %}
                                        {% set color = 'orange' %}
                                    {% endif %}
                                    {% if not transaction.sender.nickname is empty %}
                                    {% if transaction.sender == store %}
                                        <tr style="background: {{ color }}">
                                            <td>{{ loop.index }} <i class="fa fa-long-arrow-left"></i></td>
                                            <td>
                                                <button type="button" data-placement="right" data-trigger="focus" data-html="true" class="btn btn-primary btn-sm" data-toggle="popover" title="<i class='fa fa-exchange'></i> : {{ transaction.code | upper  }}" data-content="
                                            <div class='help-block'>
                                                [{{ transaction.reason }}]<br>
                                                {#[Loyer Boutique <b>Pro.</b>]<br>#}
                                                {#[Activation compte]<br>#}
                                                <i class='fa fa-user'></i> <a href='{{ path('xs_user_show', {'namespace' : transaction.sender.namespace }) }}'> {{ transaction.sender.nickname }}</a> <i class='fa fa-long-arrow-right'></i> <a href='{{ path('xs_user_show', {'namespace' : transaction.receiver.namespace }) }}'> {{ transaction.receiver.nickname }} </a><br>
                                                {#<i class='fa fa-location-arrow'></i> {{ store.localisation.town }} <i class='fa fa-long-arrow-right'></i> {{ store.localisation.town }}<br>#}
                                                <i class='fa fa-bank'></i> <a href='#'> {{ transaction.bank }} </a><br>
                                                <i class='fa fa-money'></i> {{ transaction.amount.value|number_format ~' '~  transaction.amount.currency}}<br>
                                                <span title='{{ transaction.dateAdd | time_diff }}'><i class='fa fa-clock-o'></i>{{ transaction.dateAdd| date('Y-m-d')}}</span><br>
                                                <label class='label' style='background: {{ color }}'>{{ transaction.state }} </label>
                                            </div>
                                        ">
                                                    {{ transaction.code | upper  }}
                                                </button>
                                            </td>

                                            <td>{{ transaction.amount.value|number_format ~' '~  transaction.amount.currency}}</td>
                                            <td><a href="#">{{ transaction.bank }}</a> </td>
                                            <td>{{ transaction.reason }}</td>
                                            <td title="{{ transaction.dateAdd | time_diff }}">{{ transaction.dateAdd| date('Y-m-d')}}</td>
                                        </tr>
                                    {% else %}
                                        <tr style="background: {{ color }}">
                                            <td>{{ loop.index }} <i class="fa fa-long-arrow-right"></i></td>
                                            <td>
                                                <button type="button" data-placement="right" data-trigger="focus" data-html="true" class="btn btn-primary btn-sm" data-toggle="popover" title="<i class='fa fa-exchange'></i> : {{ transaction.code | upper  }}" data-content="
                                            <div class='help-block'>
                                                [{{ transaction.reason }}]<br>
                                                {#[Loyer Boutique <b>Pro.</b>]<br>#}
                                                {#[Activation compte]<br>#}
                                                <i class='fa fa-user'></i> <a href='#'> {#{{ transaction.sender.nickname }}#}9</a> <i class='fa fa-long-arrow-right'></i> <a href='#'>4{# {{ transaction.receiver.nickname }} #}</a><br>
                                                {#<i class='fa fa-location-arrow'></i> {{ store.localisation.town }} <i class='fa fa-long-arrow-right'></i> {{ store.localisation.town }}<br>#}
                                                <i class='fa fa-bank'></i> <a href='#'> {{ transaction.bank }} </a><br>
                                                <i class='fa fa-money'></i> {{ transaction.amount.value|number_format ~' '~  transaction.amount.currency}}<br>
                                                <span title='{{ transaction.dateAdd | time_diff }}'><i class='fa fa-clock-o'></i>{{ transaction.dateAdd| date('Y-m-d')}}</span><br>
                                                <label class='label' style='background: {{ color }}'>{{ transaction.state }} </label>
                                            </div>
                                        ">
                                                    {{ transaction.code | upper  }}
                                                </button>
                                            </td>

                                            <td>{{ transaction.amount.value|number_format ~' '~  transaction.amount.currency }}</td>
                                            <td><a href="#">{{ transaction.bank }}</a> </td>
                                            <td>{{ transaction.reason }}</td>
                                            <td title="{{ transaction.dateAdd | time_diff }}">{{ transaction.dateAdd| date('Y-m-d')}}</td>
                                        </tr>
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="help-block">
                                <ul>
                                    <li><b><i class="fa fa-long-arrow-right"></i></b> : Transaction entrante (réception).</li>
                                    <li><b><i class="fa fa-long-arrow-left"></i></b> : Transaction sortante (envoi).</li>
                                </ul>
                                <label class="label" style="background: orange">Erreur</label>
                                <label class="label" style="background: lightgreen">Terminé </label>
                                <label class="label" style="background: whitesmoke; color: black">En cours</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default table-responsive">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-smile-o"></i> Boîte à suggestions</h3>
                        </div>
                        <div class="panel-body">
                            {#Ajouter une entree box#}
                            Dites nous ce qui pourrait être meilleur chez Afrobanking
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default table-responsive">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-comment"></i> Forum ( {{ store.comments | length }} )</h3>
                        </div>
                        <div class="panel-body">
                            {#Le fil de chat de Afrobanking->Comments#}
                            Besoin d'aide, c'est ici le forum.
                            <hr>
                            {% block add_comment_2 %}
                                {{ render(controller("XSCoreBundle:Comment:addMin", {'obj_id': store.id, 'obj_name': 'Afrobanking'})) }}
                            {% endblock %}
                            <div class="messages messages-img scroll" style="height: 500px;">
                                {% for comment in store.comments %}
                                    {% set msg_class = 'item in' %}
                                    {% if comment.author == store %}
                                        {% set msg_class = 'item' %}
                                    {% endif %}
                                    <div class="{{ msg_class }}">
                                        <div class="image">
                                            <a href="{{ path('xs_user_show', {'namespace': comment.author.namespace }) }}"><img src="{{ comment.author.profile.src }}" alt="{{ comment.author.nickname }}"></a>
                                        </div>
                                        <div class="text">
                                            <div class="heading">
                                                <a href="{{ path('xs_user_show', {'namespace': comment.author.namespace }) }}">{{ comment.author.nickname }}</a>
                                                <span class="date"><a href="#"><span class="fa fa-clock-o"></span> {{ comment.dateAdd|time_diff }}</a> </span>
                                            </div>
                                            {{ comment.content }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="panel-body panel-body-search">
                                {% block add_comment %}
                                    {{ render(controller("XSCoreBundle:Comment:addMin", {'obj_id': store.id, 'obj_name': 'Afrobanking'})) }}
                                {% endblock %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-question-circle"></i> Comment ça marche... ?</h3>
                        </div>
                        <div class="panel-body">
                            <div class="help-block">
                                <ul>
                                    <li><a href="#">Télécharger le <b>PDF</b> de présentation</a></li>
                                    <li><a href="#">Télécharger la vidéo de présentation</a></li>
                                </ul>
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qoBfa9SnAQg" allowfullscreen></iframe>
                            </div>
                            <span class="help-block">
                                Vidéo de présentation de <b>Afrobanking</b>
                            </span>
                            {#<video controls autoplay src="https://www.youtube.com/watch?v=qoBfa9SnAQg">
                                Vidéo de présentation de <b>Afrobanking</b>
                            </video>#}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-question-circle"></i> Avantages : A venir...</h3>
                        </div>
                        <div class="panel-body">
                            <i class="fa fa-question-circle"></i> Quels sont les principaux avantages de Afrobanking.
                        </div>
                    </div>
                </div>
                <div class="row" id="appros">
                    <div class="panel panel-primary">
                        <div style="background: cornflowerblue;" class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"><i class="fa fa-question-circle"></i> Comment approvisionner mon compte... ?</h3>
                        </div>
                        <div class="panel-body">
                            #Presentation, votre nom complet (Afficher le nom complet actuel) tel que sur la CNI (Express Union), ou vos informations usuelles.
                            <select class="form-control select" data-live-search="false">
                                <option value="Cameroon">Cameroon</option>
                                {#<option value="1">Nigeria</option>
                                <option value="1">Tchad</option>
                                <option value="1">Gabon</option>#}
                                {#<option value="1">Tous les autres pays couverts par Express Union</option>#}
                            </select>
                            <hr>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Moyen de versement</th>
                                    <th>Destinataire</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Express Union</td>
                                    <td>Afrobanking</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Express Union Mobile</td>
                                    <td>695-842-284</td>
                                </tr>
                                {#<tr>
                                    <td>3</td>
                                    <td>MTN Mobile Money</td>
                                    <td>673-009-940</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Orange Money</td>
                                    <td>697-890-452</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>VISA</td>
                                    <td>#</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Master Card</td>
                                    <td>#</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Afriland First Bank</td>
                                    <td>#</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>PayPal</td>
                                    <td>afrobank@mboadjoss.com</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Bitcoins</td>
                                    <td>afrobank@mboadjoss.com</td>
                                </tr>#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT FRAME BODY -->
    </div>
{% endblock %}


