{#Modal, nouvelle transaction.#}
{#todo: Finalement, pour le lancement, on ne gere pas les envois via Express Union ou autre chose :'( #}
{#todo: le transfert n'est effectue ici que par et vers ceux qui sont dans Afrobanking#}
<div class="modal animated pulse" id="sendMoney" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="transactionModalLabel"><i class="fa fa-exchange"></i> Envoyer de l'argent</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal">
                        <form action="{{ path('xs_afrobank_transaction_send_money', {'namespace':receiver.namespace}) }}" method="post" {{ form_enctype(form_send) }}>
                            <div class="row">
                                {{ form_errors(form_send) }}
                            </div>
                            {{ form_row(form_send._token) }}
                            <p>
                                <b>Envoyer de l'argent où que vous soyiez.</b>
                            </p>
                            <div class="form-group">

                                <div class="row">
                                    <label class="col-md-3 col-xs-12 control-label">Mode</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select class="form-control select" data-live-search="false">
                                            <option value="afrobanking" selected>Afrobanking</option>
                                            {#<option value="ca_express_union">Express Union</option>#}
                                        </select>
                                        <div class="help-block">
                                            {##Express Union : les frais actuels seront appliqués.#}
                                            Bientôt tous les modes de transfert du monde.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Bénéficiaire</label>
                                <div class="col-md-6 col-xs-12">
                                    <span class="form-control"><i class="fa fa-user"></i> <a href="{{ path('xs_user_show', {'namespace': receiver.namespace}) }}">{{ receiver.nickname }}</a></span>
                                    <div class="help-block">
                                        <i class="fa fa-users"></i><a href="{{ path('xs_address_book_show', {'namespace' : app.user.namespace}) }}"> Tous mes contacts</a>
                                        | <i class="fa fa-search"></i> <a href="{{ path('xs_user_all') }}" title="Tous les utilisateurs d'Afrobusiness">Tous les Afros</a>
                                    </div>
                                </div>
                            </div>
                            {#todo: Importante MAJ...#}
                            {#Si EU et pas dans Afrobusiness...
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Nom complet du bénéficiaire</label>
                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" value="John">
                                </div>
                            </div>#}

                            <div class="form-group">
                                {{ form_label(form_send.amount.value, "Montant", {'label_attr':
                                    {'class': 'col-md-3 col-xs-12 control-label'}}
                                )}}

                                <div class="col-md-6 col-xs-12">
                                    {{ form_widget(form_send.amount.value, {'attr': {
                                        'class': 'form-control'
                                    }}
                                    ) }}
                                    ( FCFA )
                                    {#'min': '1000',
                                    'max': '{{ app.user.account.amount.value * 0.9 }}'#}
                                    <div class="help-block">
                                        {#                                                #Le max c'est 90% du compte. Si autre mode de transfert utilise.
                                                                                        #Afficher la somme en lettres ici (JS) :) <br>#}
                                        Bientôt toutes les devises du monde.
                                    </div>
                                </div>
                            </div>
                            {##Si Express Union.
                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">Lieux</label>
                                <div class="col-md-4 col-xs-12">
                                    <input type="text" class="form-control" value="{{ app.user.localisation.town }}, {{ app.user.localisation.country }}">Moi
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <input type="text" class="form-control" value="Douala, Cameroon">Bénéficiaire
                                </div>
                            </div>#}
                            <hr>
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-paper-plane"></i> Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#EndModalTransaction#}