{% extends "RadioRelaxCoreBundle::base.html.twig" %}

{% block title %}
  {{ artist.name }} | {{ album.name }}
{% endblock title %} 

{% block body_inner_main %}
  <!--Top Artist Section-->
  <div class="ms_top_artist">
    <div class="container-fluid">
      <div class="album_single_data">
        <div class="album_single_img">
          <img src="{{ album.profile | cloudinary_img('show') }}" alt="" class="img-fluid">
        </div>
        <div class="album_single_text">
          <h2>{{ album.name }}</h2>
          <p class="singer_name"><a href="{{ path('radio_relax_core_artists_show', {'namespace': artist.namespace}) }}">{{ artist.name }}</a></p>
          <div class="about_artist">
            About: {{ album.desc }}
          </div>
          <div class="album_btn">
            {{ album.dateRelease|date("Y") }}
            <br>
            {{ "label.duration"|trans }}: <b>{{ album|album_duration }}</b>
          </div>
        </div>
      </div>
      <!----Song List---->
      <div class="ms_weekly_wrapper">
        <div class="ms_weekly_inner">
          <div class="row">
            <div class="col-lg-12">
              <div class="ms_heading">
                <h1>All {{ album.musics|length }} of {{ album.name }} | {{ album.dateRelease|date("Y") }}</h1>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 padding_right40">
              {% for music in album.musics %}
                <div class="ms_weekly_box ms_active_play" id="music-box-{{ loop.index0 }}">
                  <div class="weekly_left">
                                    <span class="w_top_no">
										{{ loop.index |album_list_number_format}}
									</span>
                    <div class="w_top_song">
                      <div class="w_tp_song_img">
                        <img src="{{ album.profile | cloudinary_img }}" alt="">
                        <div class="ms_song_overlay">
                        </div>
                        <div class="ms_play_icon visible" onclick="updatePlaying(event, {{ loop.index0 }})">
                          <img src="{{ asset('assets/corebundle/images/svg/play.svg') }}" alt="">
                        </div>
                        <div class="ms_play_icon invisible" id="play-bar-{{ loop.index0 }}">
                          <div class="ms_bars">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                          </div>
                        </div>
                      </div>
                      <div class="w_tp_song_name">
                        <h3><a href="#">{{ music.name }}</a></h3>
                        <p><a href="{{ path('radio_relax_core_artists_show', {'namespace': artist.namespace}) }}">{{ artist.name }}</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="weekly_right">
                    <span class="w_song_time">{{ music.duration|duration_format }}</span>
                    <span class="ms_more_icon" data-other="1">
										<img src="{{ asset('assets/corebundle/images/svg/more1.svg') }}" alt="">
									</span>
                  </div>
                  <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                  </ul>
                </div>
                <div class="ms_divider"></div>
              {% endfor %}
            </div>
           {#
            <div class="col-lg-4 col-md-12 padding_right40">
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										06
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song6.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Walking Promises</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										07
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song7.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Endless Things</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box ms_active_play">
                <div class="weekly_left">
                                    <span class="w_top_no">
										08
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song8.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <div class="ms_bars">
                          <div class="bar"></div>
                          <div class="bar"></div>
                          <div class="bar"></div>
                          <div class="bar"></div>
                          <div class="bar"></div>
                          <div class="bar"></div>
                        </div>
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Dream Your Moments</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										09
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song9.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Until I Met You</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										10
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song5.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Gimme Some Courage</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										11
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song2.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Dark Alley Acoustic</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										12
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song11.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">The Heartbeat Stops</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										13
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song12.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">One More Stranger</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										14
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song13.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Walking Promises</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
              <div class="ms_divider"></div>
              <div class="ms_weekly_box">
                <div class="weekly_left">
                                    <span class="w_top_no">
										15
									</span>
                  <div class="w_top_song">
                    <div class="w_tp_song_img">
                      <img src="images/weekly/song14.jpg" alt="">
                      <div class="ms_song_overlay">
                      </div>
                      <div class="ms_play_icon">
                        <img src="images/svg/play.svg" alt="">
                      </div>
                    </div>
                    <div class="w_tp_song_name">
                      <h3><a href="#">Endless Things</a></h3>
                      <p>Ava Cornish</p>
                    </div>
                  </div>
                </div>
                <div class="weekly_right">
                  <span class="w_song_time">5:10</span>
                  <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more1.svg" alt="">
									</span>
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
              </div>
            </div>#}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block audio_player %}
  {#TODO:  Audio Player#}
  <!----Audio Player Section---->
  <div class="ms_player_wrapper">
    <div class="ms_player_close">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <div class="player_mid">
      <div class="audio-player">
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
          <div class="player_left">
            <div class="ms_play_song">
              <div class="play_song_name">
                <a href="javascript:void(0);" id="playlist-text">
                  <div class="jp-now-playing flex-item">
                    <div class="jp-track-name"></div>
                    <div class="jp-artist-name"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="play_song_options">
              <ul>
                <li><a href="{{ asset('assets/corebundle/#"><span class="song_optn_icon') }}"><i class="ms_icon icon_download"></i></span>download now</a></li>
                <li><a href="{{ asset('assets/corebundle/#"><span class="song_optn_icon') }}"><i class="ms_icon icon_fav"></i></span>Add To Favourites</a></li>
                <li><a href="{{ asset('assets/corebundle/#"><span class="song_optn_icon') }}"><i class="ms_icon icon_playlist"></i></span>Add To Playlist</a></li>
                <li><a href="{{ asset('assets/corebundle/#"><span class="song_optn_icon') }}"><i class="ms_icon icon_share"></i></span>Share</a></li>
              </ul>
            </div>
            <span class="play-left-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </div>
          <!----Right Queue---->
          <div class="jp_queue_wrapper">
            <span class="que_text" id="myPlaylistQueue"><i class="fa fa-angle-up" aria-hidden="true"></i> queue</span>
            <div id="playlist-wrap" class="jp-playlist">
              <div class="jp_queue_cls"><i class="fa fa-times" aria-hidden="true"></i></div>
              <h2>queue</h2>
              <div class="jp_queue_list_inner">
                <ul>
                  <li>&nbsp;</li>
                </ul>
              </div>
              <div class="jp_queue_btn">
                <a href="javascript:;" class="ms_clear" data-toggle="modal" data-target="#clear_modal">clear</a>
                <a href="" class="ms_save" data-toggle="modal" data-target="#save_modal">save</a>
              </div>
            </div>
          </div>
          <div class="jp-type-playlist">
            <div class="jp-gui jp-interface flex-wrap">
              <div class="jp-controls flex-item">
                <button class="jp-previous" tabindex="0">
                  <i class="ms_play_control"></i>
                </button>
                <button class="jp-play" tabindex="0">
                  <i class="ms_play_control"></i>
                </button>
                <button class="jp-next" tabindex="0">
                  <i class="ms_play_control"></i>
                </button>
              </div>
              <div class="jp-progress-container flex-item">
                <div class="jp-time-holder">
                  <span class="jp-current-time" role="timer" aria-label="time">&nbsp;</span>
                  <span class="jp-duration" role="timer" aria-label="duration">&nbsp;</span>
                </div>
                <div class="jp-progress">
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar">
                      <div class="bullet">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="jp-volume-controls flex-item">
                <div class="widget knob-container">
                  <div class="knob-wrapper-outer">
                    <div class="knob-wrapper">
                      <div class="knob-mask">
                        <div class="knob d3"><span></span></div>
                        <div class="handle"></div>
                        <div class="round">
                          <img src="{{ asset('assets/corebundle/images/svg/volume.svg') }}" alt="">
                        </div>
                      </div>
                    </div>
                    <!-- <input></input> -->
                  </div>
                </div>
              </div>
              <div class="jp-toggles flex-item">
                <button class="jp-shuffle" tabindex="0" title="Shuffle">
                  <i class="ms_play_control"></i></button>
                <button class="jp-repeat" tabindex="0" title="Repeat"><i class="ms_play_control"></i></button>
              </div>
              <div class="jp_quality_optn custom_select">
                <select>
                  <option>quality</option>
                  {#<option value="1">HD</option>#}
                  {#<option value="2">High</option>#}
                  <option value="3">medium</option>
                  {#<option value="4">low</option>#}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--main div-->
  </div>
{% endblock %}

{% block player_js %}
    {% include "@RadioRelaxCore/Core/audio-player.html.twig" %}
    {#We try to update the çurrent playing index #}
<script>
  // document.read
  //On réçupère les musiques
  var myPlayListOption = '' +
    '<ul class="more_option">' +
    '<li><a href="#"><span class="opt_icon" title="Add To Favourites"><span class="icon icon_fav"></span></span></a></li>' +
    '<li><a href="#"><span class="opt_icon" title="Add To Queue"><span class="icon icon_queue"></span></span></a></li>' +
    '<li><a href="#"><span class="opt_icon" title="Download Now"><span class="icon icon_dwn"></span></span></a></li>' +
    '<li><a href="#"><span class="opt_icon" title="Add To Playlist"><span class="icon icon_playlist"></span></span></a></li>' +
    '<li><a href="#"><span class="opt_icon" title="Share"><span class="icon icon_share"></span></span></a></li>' +
    '</ul>';
  var datas = [
    //TODO: We use twig and data s from the server to define files to play
    {% for music in album.musics %}
    {
      image : '{{ album.profile | cloudinary_img }}',
      title: "{{ music.name | truncate(20) }}",
      artist: "{{ artist.name }}",
      mp3: "{{ music.src | cloudinary_file }}",
      oga: "{{ music.src | cloudinary_file }}",
      id: "{{ music.id }}",
      option : myPlayListOption
    },
    {% endfor %}
  ];
  /*$("#jquery_jplayer_1").on($.jPlayer.event.ready + ' ' + $.jPlayer.event.play, function(event) {
    obj = {
      image: "https://static.kcell.kz/activ/img/music/music-left.png",
      title: "Diego",
      artist: "Lil Wayne"
    };
    $(".jp-now-playing").html("<div class='jp-track-name'><span class='que_img'><img src='"+obj.image+"'></span><div class='que_data'>" + obj.title + " <div class='jp-artist-name'>" + obj.artist + "</div></div></div>");
  //  We try to play a new song
  //  We add our song to the playlist
  //  We get the song id
  //  We play the song
    var cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };
    var playlist = datas; // Empty playlist
    var options = { swfPath: "/js", supplied: "ogv, m4v, oga, mp3" };
    var myPlaylist2 = new jPlayerPlaylist(cssSelector, playlist, options);
    myPlaylist2.play(1);
  });*/

  function updatePlaying(event, key) {
    /*obj = {
      image: "https://www.macupdate.com/images/icons256/40851.png",
      // image: "https://res.cloudinary.com/glpi-ifactory/image/upload/bo_1px_solid_rgb:3598DC,c_pad,f_auto,h_50,q_auto,r_1,w_50/v1/TEST_RR/5c2f094f5142f3495c000f17/images/albums/1548012493",
      title: "Diego",
      artist: "Lil Wayne"
    };
    $(".jp-now-playing").html("<div class='jp-track-name'><span class='que_img'><img src='"+obj.image+"'></span><div class='que_data'>" + obj.title + " <div class='jp-artist-name'>" + obj.artist + "</div></div></div>");
*/
    event.preventDefault();
    // alert(4);
    var target = event.target;
    $(target).toggleClass("invisible");
    $("#play-bar-"+key).toggleClass("invisible");
    myPlaylist.play(key);
  }
</script>
{% endblock %}
