{% extends "@Main/Admin/base.html.twig" %}

{#Visualisation et gestion de tous les artistes#}
{% block title %}
  {{ user.nickname }} - {{ "menu.admin.favorites"|trans }}
{% endblock %}

{% block page_title %}
  {{ "menu.admin.favorites"|trans }}
{% endblock %}

{% block inner_header %}
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({{ asset('assets/img/theme/profile-cover.jpg')}}); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">{{ "menu.admin.favorites"|trans }}</h1>
{#          <p class="text-white mt-0 mb-5">Les albums que j'ai déjà acheté</p>#}
          {#<a href="#" class="btn btn-info">Edit profile</a>#}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{ user.profiles.listener.favorites_albums | length }}</span>
                  <span class="description">{{ "menu.admin.favorites"|trans }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col" title="Date de sortie">Date</th>
                  <th scope="col"># Sons</th>
                </tr>
                </thead>
                <tbody>
                {% for album in user.profiles.listener.favorites_albums %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="{{ path('admin_profile_playlist_album', {'id': album.id }) }}" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{{ album.profile | cloudinary_img }}">
                        </a>
                        <div class="media-body">
                          <a href="{{ path('admin_profile_playlist_album', {'id': album.id }) }}"><span class="mb-0 text-sm">{{ album.name }}</span></a>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{ album.dateAdd | date("Y") }}
                    </td>
                    <td>
                      {{ album.musics | length }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


