{% extends "@Main/Admin/base.html.twig" %}

{#Visualisation et gestion de tous les artistes#}
{% block title %}
  {{ user.nickname }} - {{ parent() }}
{% endblock %}

{% block page_title %}
  {{ user.nickname }}
{% endblock %}

{% block body_inner_main %}
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{ user.profiles.listener.albums | length }}</span>
                  <span class="description">Albums</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col" title="Date de sortie">Année</th>
                  <th scope="col">Qté Sons</th>
                  <th scope="col">Download</th>
                </tr>
                </thead>
                <tbody>
                {% for album in user.profiles.listener.albums %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="{{ path('admin_profile_playlist_album', {'id': album.id }) }}" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{{ album.profile | cloudinary_img }}">
                        </a>
                        <div class="media-body">
                          <a href="{{ path('admin_profile_playlist_album', {'id': album.id }) }}"><span class="mb-0 text-sm">{{ album.name }}</span></a>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{ album.dateAdd | date("Y") }}
                    </td>
                    <td>
                      {{ album.musics | length }}
                    </td>
                    <td>
                      <button type="button" style="width: auto;" class="btn-icon-clipboard" data-clipboard-text="bold-down" title="" data-original-title="Download Album">
                        <i class="ni ni-bold-down"></i>
                        <span>Download</span>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


