{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} | Carnet d'adresses.
{% endblock %}

{% block body %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="page-title">
            <h2><span class="fa fa-users"></span> Carnet d'adresses <small>({{ user.addressBook | length }} contacts)</small></h2>
        </div>
{#        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Utiliser la barre de recherche pour rechercher parmis vos contacts, par noms, en respectant la casse.</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Entrer un nom."/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary">Rechercher</button>
                                        </div>
                                    </div>
                                </div>
                                &#123;&#35;<div class="col-md-4">
                                    <button class="btn btn-success btn-block"><span class="fa fa-plus"></span> Add new contact</button>
                                </div>&#35;&#125;
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>#}
        <div class="row">
            {#todo Limiter la fonction a 12 pour la page1.#}
            {% for contact in user.addressBook %}
                {% block send_money %}
                    {{ render(controller("XSAfrobankBundle:Transaction:sendMoney", {'namespace': contact.user.namespace})) }}
                {% endblock%}
                <div class="col-md-3">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">

                        {% block send_message %}
                            <div class="modal animated pulse" id="message{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="sendMessage">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="sendMessage"><i class="fa fa-comments-o"></i> Nouveau message</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                {% block launch_chat %}
                                                    {{ render(controller("XSMboadjossBundle:Message:send", {'receiver_namespace': contact.user.namespace})) }}
                                                {% endblock %}
                                                {#Formulaire....:)#}
                                            </div>
                                            {#<div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}

                        <div class="panel-body profile">
                            <div class="profile-image">
                                <a href="{{ path('xs_user_show', {'namespace': contact.user.namespace}) }}"><img src="{{ contact.user.profile.src }}" alt="{{ contact.user.nickname}}"/></a>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name"><a href="{{ path('xs_user_show', {'namespace': contact.user.namespace}) }}"> {{ contact.user.nickname }}</a></div>
                                {#<div class="profile-data-title" title="Store">
                                    <i class="fa fa-home"></i>
                                    {% if contact.user.store != null %}
                                        <a href="{{ path('main_stores_show', {'namespace': contact.user.store.namespace}) }}"> {{ contact.user.store.name }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>#}
                            </div>
                            <div class="profile-controls">
                                {#<a href="#" title="" class="profile-control-left"><span class="fa fa-comments-o"></span></a>#}
                                <a href="#" title="Envoyer de l'argent à cet utilisateur." data-toggle="modal" data-target="#sendMoney"  class="profile-control-left"><i class="fa fa-exchange"></i></a>
                                <a href="{{ path('main_stores_user', {'user_namespace': contact.user.namespace}) }}" title="Store de {{ contact.user.nickname }}" class="profile-control-right"><span class="fa fa-home"></span></a>
                                {#<a href="#" title="Appeler - COMING SOON" class="profile-control-right"><span class="fa fa-phone"></span></a>#}
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 right">
                                    {#todo: Cool stuffs...#}
                                    <button title="Envoyer un message" data-toggle="modal" data-target="#message{{ loop.index }}" class="btn btn-success btn-rounded btn-block"><i class="fa fa-comments-o"></i> Message</button>
                                </div>
                            </div>
                            <div class="contact-info">
                                <p><small>Mobile</small>
                                    {% for telephone in  contact.user.telephones %}
                                        <br/>
                                        ({{ telephone.countryCode }}) {{ telephone.formattedNumber }}
                                    {% endfor %}
                                </p>
                                <p><small>Email</small><br/>{{ contact.user.email }}</p>
                                <p><small>Addresse</small><br/>{{ contact.user.localisation.country }} | {{ contact.user.localisation.town }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
            {% endfor %}
        </div>
        {#<div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>#}

    </div>
    <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}



