{#Modal, nouvelle transaction.#}
<div class="modal rollOut" id="addTransaction" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="transactionModalLabel"><i class="fa fa-exchange"></i> Nouvelle transaction</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal">

                        <div class="panel panel-default tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li title="Envoyer de l'argent à un contact" class="active"><a href="#tab-first" role="tab" data-toggle="tab">Envois</a></li>
                                <li title="Retirer son argent physiquement"><a href="#tab-second" role="tab" data-toggle="tab">Retraits</a></li>
                                <li title="Paiements en ligne, activation de comptes, loyers, applications."><a href="#tab-third" role="tab" data-toggle="tab">Paiements</a></li>
                            </ul>
                            <div class="panel-body tab-content">
                                <div class="tab-pane active" id="tab-first">
                                    <p>
                                        <b>Envoyer de l'argent où que vous soyiez.</b>
                                    </p>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Mode</label>
                                        <div class="col-md-6 col-xs-12">
                                            <select class="form-control select" data-live-search="true">
                                                <option value="1" selected>Afrobanking</option>
                                                <option value="1">Express Union</option>
                                            </select>
                                            <div class="help-block">
                                                #Express Union : les frais actuels seront appliqués.
                                                Bientôt tous les modes de transfert du monde.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Bénéficiaire</label>
                                        <div class="col-md-6 col-xs-12">
                                            <select class="form-control select" data-live-search="true">
                                                {% for contact in app.user.addressBook %}
                                                    <option value="1">{{ contact.user.nickname }}
                                                        ({% for telephone in contact.user.telephones %}
                                                        {{ telephone.formattedNumber }}..
                                                        {% endfor %})
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <div class="help-block">
                                                <i class="fa fa-users"></i><a href="{{ path('xs_address_book_show', {'namespace' : app.user.namespace}) }}"> Tous mes contacts</a>
                                                | <i class="fa fa-search"></i> <a href="{{ path('xs_user_all') }}" title="Tous les utilisateurs d'Afrobusiness">Tous les Afros</a>
                                            </div>
                                        </div>
                                    </div>
                                    {#todo: Importante MAJ...#}
                                    {#Si EU et pas dans Afrobusiness...
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Nom complet du bénéficiaire</label>
                                        <div class="col-md-6 col-xs-12">
                                            <input type="text" class="form-control" value="John">
                                        </div>
                                    </div>

#}
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Montant</label>
                                        <div class="col-md-6 col-xs-12">
                                            <input type="number" min="1000" step="1000" max="100000" class="form-control" value="200000">( FCFA )
                                            <div class="help-block">
                                                #Le max c'est 90% du compte.
                                                #Afficher la somme en lettres ici (JS) :) <br>
                                                Bientôt toutes les devises du monde.
                                            </div>
                                        </div>
                                    </div>
                                    #Si Express Union.
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-12 control-label">Lieux</label>
                                        <div class="col-md-4 col-xs-12">
                                            <input type="text" class="form-control" value="{{ app.user.localisation.town }}, {{ app.user.localisation.country }}">Moi
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <input type="text" class="form-control" value="Douala, Cameroon">Bénéficiaire
                                        </div>
                                    </div>

                                    <hr>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Envoyer</button>
                                </div>
                                <div class="tab-pane" id="tab-second">
                                    <p>
                                        <i class="fa fa-info-circle"></i> Les retraits se font dans une agence <b>Express Union</b> de la ville de votre choix.
                                        <br>
                                        <i class="fa fa-info-circle"></i> En plus de la somme demandée, s'ajoutent les frais de transfert <b>Express Union</b> en vigueur actuellement.
                                    </p>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Pays</label>
                                        <div class="col-md-6">
                                            <select class="form-control select">
                                                <option selected>Cameroon</option>
                                                {#todo: Juste le Cameroun pour l'instant.#}
                                            </select>
                                            <span class="help-block">Bientôt : 50 pays de retraits</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Ville</label>
                                        <div class="col-md-6">
                                            <select class="form-control select" data-live-search="true">
                                                <option>Douala</option>
                                                <option>Yaounde</option>
                                                <option>Bafoussam</option>
                                                <option selected >#Ville utilisateur</option>
                                                {#todo: Juste le Cameroun pour l'instant.#}
                                            </select>
                                            <span class="help-block">Bientôt : 4350 pays de retraits</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Montant</label>
                                        <div class="col-md-6 col-xs-12">
                                            <input type="number" min="1000" step="1000" max="100000" class="form-control" value="200000">( FCFA )
                                            <div class="help-block">
                                                #Le max c'est 90% du compte.
                                                #Afficher la somme en lettres ici (JS) :) <br>
                                                Bientôt toutes les devises du monde.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Envoyer</button>
                                </div>
                                <div class="tab-pane" id="tab-third">
                                    <p>
                                        Activer mes comptes, et régler mon loyer, c'est par ici.
                                        <br>
                                        A venir : Paiements en ligne de toute sorte.
                                    </p>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Action</label>
                                        <div class="col-md-6">
                                            <select class="form-control select">
                                                <option selected>Activer mon compte Afrobanking</option>
                                                <option selected>Payer le loyer de ma boutique</option>
                                                {#todo: Juste le Cameroun pour l'instant.#}
                                            </select>
                                            <span class="help-block"><i class="fa fa-home"></i><a href="#"> Changer de type de boutique</a> </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Frais</label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="number" readonly value="1000"/>
                                            (FCFA)
                                            <span class="help-block">#Adapter au choix dans la liste.</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Envoyer</button>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{#EndModalTransaction#}