{% set in_cart = 0 %}
{% if app.session %}
  {% if app.session.get('cart') %}
    {% set cart = app.session.get('cart') %}
    {% for pro_cart in cart.productsCarts if pro_cart.product %}
      {% if pro_cart.product.id == product.id %}
        {% set in_cart = 1 %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% if app.user %}
      {% set cart = app.user.market.cart %}
      {% for pro_cart in cart.productsCarts if pro_cart.product %}
        {% if pro_cart.product.id == product.id %}
          {% set in_cart = 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endif %}
{#
<div class="loading_spaces text-center" id="loading_spaces">
    <img src="{{ asset('assets/vendor/nivo-slider/dark/loading.gif') }}" class="img-responsive" alt="loading.image"/>
</div>
#}

<span id="span_cart_pro_{{ product.id }}">
{% if in_cart %}
  <button class="btn btn-default addedtocart" title="Produit dans mon Panier!" data-tooltip="" disabled><i class="fa fa-check"></i> <span>Ajouté au Panier!</span></button>
  {#<button class="btn btn-default addedtocart" title="Product in Cart!" disabled id="fin_cart_pro_{{ product.id }}"><i class="fa fa-check"></i> <span>Added to Cart</span></button>#}
  {% else %}
  <a href="{{ path('xs_market_place_list_add_product', {'id': product.id, 'list':'cart'}) }}" data-tooltip="" class="addtocart{# outofstock#}" onclick="addThisToList(event, '{{ product.id }}', '{{ path('xs_market_place_list_add_product', {'id': product.id, 'list':'cart'}) }}')" title="Ajouter au Panier">
    {#<a href="{{ path('xs_market_place_cart_add_product', {'id': product.id}) }}" class="addtocart" id="cart_pro_{{ product.id }}" title="Add to Cart">#}
    <i class="fa f a-shopping-cart"></i><span>Ajouter au Panier</span>
    </a>
{% endif %}
</span>