{% extends "RadioRelaxCoreBundle::Base.html.twig" %}

{% block title %}
Artistes- {{ parent() }}
{% endblock title %} 

{% block artites %}
<!--Top Artist Section-->
            <div class="ms_top_artist">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ms_heading">
                                <h1>  {{ 'title.artists'|trans }}</h1>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="ms_rcnt_box marger_bottom30">
                                <div class="ms_rcnt_box_img">
                                    <img src="{{ asset('assets/corebundle/images/music/r_music1.jpg') }}" alt="" class="img-fluid">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{{ asset('assets/corebundle/images/svg/more.svg') }}" alt="">
                                        </div>
                                        <ul class="more_option">
                                            <li><a href=" #"><span class="opt_icon"><span class="icon icon_fav"></span></span>Plus d'infos</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href=" #">Claire Hudson</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="ms_rcnt_box marger_bottom30">
                                <div class="ms_rcnt_box_img">
                                    <img src="{{ asset('assets/corebundle/images/artist/artist1.jpg') }}" alt="" class="img-fluid">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{{ asset('assets/corebundle/images/svg/more.svg') }}" alt="">
                                        </div>
                                         <ul class="more_option">
                                            <li><a href=" #"><span class="opt_icon"><span class="icon icon_fav"></span></span>Plus d'infos</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href=" #">Carl Brown</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="ms_rcnt_box marger_bottom30">
                                <div class="ms_rcnt_box_img">
                                    <img src="{{ asset('assets/corebundle/images/artist/artist2.jpg') }}" alt="" class="img-fluid">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{{ asset('assets/corebundle/images/svg/more.svg') }}" alt="">
                                        </div>
                                         <ul class="more_option">
                                            <li><a href=" #"><span class="opt_icon"><span class="icon icon_fav"></span></span>Plus d'infos</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href=" #">Virginia Harris</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="ms_rcnt_box marger_bottom30">
                                <div class="ms_rcnt_box_img">
                                    <img src="{{ asset('assets/corebundle/images/artist/artist3.jpg') }}" alt="" class="img-fluid">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{{ asset('assets/corebundle/images/svg/more.svg') }}" alt="">
                                        </div>
                                         <ul class="more_option">
                                            <li><a href=" #"><span class="opt_icon"><span class="icon icon_fav"></span></span>Plus d'infos</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href=" #">Max Glover</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="ms_rcnt_box marger_bottom30">
                                <div class="ms_rcnt_box_img">
                                    <img src="{{ asset('assets/corebundle/images/artist/artist3.jpg') }}" alt="" class="img-fluid">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{{ asset('assets/corebundle/images/svg/more.svg') }}" alt="">
                                        </div>
                                         <ul class="more_option">
                                            <li><a href=" #"><span class="opt_icon"><span class="icon icon_fav"></span></span>Plus d'infos</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href=" #">Max Glover</a></h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-md-6">
                            <div class="ms_rcnt_box marger_bottom30">
                                <div class="ms_rcnt_box_img">
                                    <img src="{{ asset('assets/corebundle/images/artist/artist11.jpg') }}" alt="" class="img-fluid">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{{ asset('assets/corebundle/images/svg/more.svg') }}" alt="">
                                        </div>
                                         <ul class="more_option">
                                            <li><a href=" #"><span class="opt_icon"><span class="icon icon_fav"></span></span>Plus d'infos</a></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href=" #">Edward Clark</a></h3>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            
            <!--Main div close-->

{% endblock artites %}