{% extends "RadioRelaxCoreBundle::Base.html.twig" %}

{% block title %}
{{ name }} - {{ parent() }}
{% endblock title %} 

{% block artites %}
<!--Top Artist Section-->

            <div class="ms_top_artist">
                <div class="container-fluid">
                <div class="album_single_data">
                <div class="album_single_img">
                    <img src="{{ asset('assets/corebundle/images/featured/song1.jpg') }}" alt="" class="img-fluid">
                </div>
                <div class="album_single_text">
                    <h2>{{ name }}</h2>
                    <p class="singer_name">Singer, New York</p>
                    <div class="about_artist">
                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in<br> reprehenderit in voluptate velit esse cillum dolor... <a href="#">Read More</a>
                    </div>
                    <div class="album_btn">
                    </div>
                </div>
                <div class="album_more_optn ms_more_icon">
                    <span><img src="{{ asset('assets/corebundle/images/svg/more.svg') }}" alt=""></span>
                </div>
            </div>
            <!----Song List---->
			<div class="album_inner_list">
				<div class="album_list_wrapper">
					<ul class="album_list_name">
                    	<li></li>
						<li>#</li>
						<li>Albums</li>
						<li>Songs</li>
						<li class="text-center">Années</li>
					</ul>
					<ul>
                        <li></li>
						<li><a href="#"><span class="play_no">01</span><span class="play_hover"></span></a></li>
						<li><a href="#">Bloodlust</a></li>
						<li><a href="#">Ava Cornish & Brian Hill</a></li>
						<li class="text-center"><a href="#">5:26</a></li>
						
					</ul>
					<ul>
                    <li></li>
						<li><a href="#"><span class="play_no">02</span><span class="play_hover"></span></a></li>
						<li><a href="#">Desired Games</a></li>
						<li><a href="#">Ava Cornish & Brian Hill</a></li>
						<li class="text-center"><a href="#">5:26</a></li>
						
					</ul>
					<ul>
                    <li></li>
						<li><a href="#"><span class="play_no">03</span><span class="play_hover"></span></a></li>
						<li><a href="#">Until I Met You</a></li>
						<li><a href="#">Ava Cornish & Brian Hill</a></li>
						<li class="text-center"><a href="#">5:26</a></li>
						
					</ul>
					<ul class="play_active_song">
                    <li></li>
						<li><a href="#"><span class="play_no">04</span><span class="play_hover"></span></a></li>
						<li><a href="#">Dark Alley Acoustic</a></li>
						<li><a href="#">Ava Cornish & Brian Hill</a></li>
						<li class="text-center"><a href="#">5:26</a></li>
						
					</ul>
					<ul>
                    <li></li>
						<li><a href="#"><span class="play_no">05</span><span class="play_hover"></span></a></li>
						<li><a href="#">Cloud nine</a></li>
						<li><a href="#">Ava Cornish & Brian Hill</a></li>
						<li class="text-center"><a href="#">5:26</a></li>
						
					</ul>
				</div>
			</div> 
        </div>
    </div>
{% endblock artites %}